body{
 
  color: #fff;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blur{
  filter: blur(6px)
}

.brightness{
  filter: brightness(150%)
}

.grayscale{
  filter: grayscale(100%);
}

.invert{
  filter: invert(100%);
}